@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --color-background: #0f172a;
    --color-surface: #1e293b;
    --color-primary: #6366f1;
    --color-secondary: #3b82f6;
    --color-accent: #14b8a6;

    --font-sans: Inter, system-ui, sans-serif;
}

body {
    font-family: var(--font-sans);
    background-color: var(--color-background); /* 使用定義的深色背景 */
    color: #e2e8f0; /* 設定預設文字顏色為淺灰 (Slate-200)，避免在深底上看不見 */
}
