$primary-color: #0795c0;

.navbar {
    display: relative;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 80px;

    .navbar-container {
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
        white-space: nowrap;

        .navbar-blank {
            width: 100%;
        }

        .navbar-logo {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        .navbar-links {
            list-style: none;
            display: flex;
            padding: 0 1rem;
            gap: 1rem;
            align-items: center;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 1rem;
                position: relative;
                transition: background-color 0.3s ease, color 0.3s ease; /* 添加漸變效果 */

                &:hover {
                    color: $primary-color; /* 改變文字顏色 */
                }

                &::after {
                    content: '';
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translateX(-50%) scaleX(0);
                    transform-origin: center;
                    width: calc(100% - 10px);
                    height: 2px;
                    background-color: $primary-color;
                    transition: transform 0.3s ease;
                }

                &:hover::after {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }
    }
}
